<div class="modal-dialog" role="document" style="margin: 0">
  <p>
    Logowanie
  </p>
  <div class="modal-content">
    <div class="modal-body">
      <form [formGroup]="formGroup" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input formControlName="email" type="text" name="email" class="form-control" id="email" placeholder="email" required>
        </div>
        <div class="form-group">
          <label for="password">Hasło</label>
          <input formControlName="password" type="password" name="password" class="form-control" id="password" placeholder="password" required>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
          <button type="submit" class="btn btn-primary" style="background-color: gold; border-color: white; color: #041836;">Zaloguj się</button>
        </div>
      </form>
    </div>
  </div>
</div>
