<!--<div class="banner" appFadeBackground>-->

<!--</div>-->
<!--<div style="display: block">-->
<!--</div>-->

<!--<div id="przykladowaKaruzela2" class="carousel slide" data-ride="carousel" style="margin-top: 15px;">-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active">-->
<!--      <img class="d-block w-100" src="../../assets/img/1xx.png" alt="Pierwszy slajd">-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img class="d-block w-100" src="../../assets/img/2xx.png" alt="Drugi slajd">-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img class="d-block w-100" src="../../assets/img/4xx.png" alt="Trzeci slajd">-->
<!--    </div>-->
<!--  </div>-->
<!--  <a class="carousel-control-prev" href="#przykladowaKaruzela2" role="button" data-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="sr-only">Poprzedni</span>-->
<!--  </a>-->
<!--  <a class="carousel-control-next" href="#przykladowaKaruzela2" role="button" data-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="sr-only">Następny</span>-->
<!--  </a>-->
<!--</div>-->

<header>
  <div class="header-content">
    <h2>Poznaj nowe smaki</h2>
    <div class="line"></div>
    <h1>Serwuj najlepsze drinki</h1>
    <a href="/" class="ctn">explore drinks world</a>
  </div>
</header>

<!-- == EVENTS ==-->
<section class="events">
  <div class="title">
    <h1>Upcoming events</h1>
    <div class="line"></div>
  </div>
  <div class="row-content">
    <div class="col-content">
      <img src="../../assets/img/rsz_nm1.jpg" alt="">
      <h4>elo elo</h4>
      <p href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi debitis inventore magni sit voluptas.</p>
    </div>
    <div class="col-content">
      <img src="../../assets/img/rsz_nm2.jpg" alt="">
      <h4>elo drineczki</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi debitis inventore magni sit voluptas.</p>
    </div>
  </div>
</section>
