<header>
  <div class="header-content">
    <h2>Poznaj nowe smaki</h2>
    <div class="line"></div>
    <h1>Serwuj najlepsze drinki</h1>
    <a href="#events" class="ctn">Poznaj drinki z innej strony</a>
  </div>
</header>

<!-- == EVENTS ==-->
<section class="events" id="events">
  <div class="title">
    <h1>Lorem ipsum dolor.</h1>
    <div class="line"></div>
  </div>
  <div class="row-content">
    <div class="col-content">
      <img src="../../assets/img/rsz_nm1.jpg" alt="">
      <h4>Lorem ipsum.</h4>
      <p href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi debitis inventore magni sit voluptas.</p>
    </div>
    <div class="col-content">
      <img src="../../assets/img/rsz_nm2.jpg" alt="">
      <h4>Lorem ipsum.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi debitis inventore magni sit voluptas.</p>
    </div>
  </div>
</section>
