<div class="modal-dialog" role="document" style="margin: 0">
    <p>
      Rejestracja
    </p>
    <div class="modal-content" *ngIf="registered==true">
      <div class="modal-footer">
        Zarejestrowano pomyślnie. <a (click)="openLoginModal()"> &nbsp;Zaloguj się</a>
      </div>
    </div>
    <div class="modal-content" *ngIf="registered==false">
      <div class="modal-body">
        <form [formGroup]="formGroup" (ngSubmit)="registerUser()">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input formControlName="email" type="email" name="email" class="form-control" id="email" placeholder="Email" required>
            <div class="isValid" *ngIf="formGroup.controls['email'].invalid && submitted != false">
              To raczej nie jest e-mailem
            </div>
            <div class="isValid">
              {{conflict}}
            </div>
          </div>
          <div class="form-group">
            <label for="password">Hasło</label>
            <input formControlName="password" type="password" name="password" class="form-control" id="password" placeholder="Password" required>
            <div class="isValid" *ngIf="formGroup.controls['password'].invalid && submitted != false">
              Hasło musi posiadać małą i duża literę oraz przynajmniej jedną cyfrę
            </div>
          </div>
          <div class="form-group">
            <input type="checkbox" formControlName="terms" required> Akceptuję regulamin
            <div *ngIf="formGroup.controls['terms'].invalid && submitted != false" style="color: red">
              Musisz zaakceptować regulamin, aby zarejestrować się.
            </div>
          </div>
          <div class="modal-footer">
            <button (click)="closeModal()" type="button" id="add-employee-form" class="btn btn-secondary" style="border-color: white;" data-dismiss="modal">Anuluj</button>
            <button [disabled]="registered" type="submit" class="btn btn-primary" style="background-color: gold; border-color: white; color: #041836;">Zarejestuj się</button>
          </div>
        </form>
      </div>
    </div>
</div>
<!--</div>-->

<!--<div class="modal-dialog" role="document">-->
<!--  <p>-->
<!--    Rejestracja-->
<!--  </p>-->
<!--  <div *ngIf="registered==true">-->
<!--    <div>-->
<!--      Zarejestrowano pomyślnie. <a (click)="openLoginModal()"> &nbsp;Zaloguj się</a>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div *ngIf="registered==false">-->
<!--    <div>-->
<!--      <form [formGroup]="formGroup"  (ngSubmit)="registerUser()">-->
<!--        <div>-->
<!--          <label for="email">E-mail</label>-->
<!--          <input formControlName="email" type="email" name="email" class="form-control" id="email" placeholder="Email" required>-->
<!--          <div class="isValid" *ngIf="formGroup.controls['email'].invalid && submitted != false">-->
<!--            To raczej nie jest e-mailem-->
<!--          </div>-->
<!--          <div class="isValid">-->
<!--            {{conflict}}-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="password">Hasło</label>-->
<!--          <input formControlName="password" type="password" name="password" class="form-control" id="password" placeholder="Password" required>-->
<!--          <div class="isValid" *ngIf="formGroup.controls['password'].invalid && submitted != false">-->
<!--            Hasło musi posiadać małą i duża literę oraz przynajmniej jedną cyfrę-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <input type="checkbox" formControlName="terms" required> Akceptuję regulamin-->
<!--          <div *ngIf="formGroup.controls['terms'].invalid && submitted != false" style="color: red">-->
<!--            Musisz zaakceptować regulamin, aby zarejestrować się.-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <a href=""><button (click)="closeModal()" type="button" id="add-employee-form" class="btn-login btn-secondary">Anuluj</button></a>-->
<!--          <a><button [disabled]="registered" type="submit" class="btn-register">Register</button></a>-->
<!--          &lt;!&ndash; class="btn btn-primary" &ndash;&gt;-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
