.box{
  margin-left: 10%;
  margin-right: 10%;
}

.icon{
  font-size: 25px;
  display: flex;
  align-items: center;
}

.onavbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: bisque;
  color: #002853;
}

.onenavbar ul{
  list-style: none;
  position: relative;
  text-decoration: none;
  margin: 0 20px;
  text-transform: uppercase;
  width: calc(25% - 20px);

}

.onavbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.logout:hover{
  transition: all 0.25s;
  background-color: #2ec9a0;
  transform: scale(1.07);
  box-shadow: 0px 0px 5px #2ec9a0;
}

.logout{
  background-color: #21BF96;
  padding: 5px 34px 5px 34px;
  border-radius: 30px 30px 30px 30px;
  line-height: 32px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .onavbar{
    width: 100%;
    margin: auto;
  }

  .onavbar ul:nth-child(2), ul:nth-child(3){
    display: none;
  }
}
