<div class="modal-dialog" role="document" style="margin: 0">
  <p>coctails</p>
  <div class="modal-content">
    <div class="modal-body">
      <form [formGroup]="formGroup" (ngSubmit)="generateNewPassword()">
        <div class="form-group">
          <label for="password">Hasło</label>
          <input formControlName="password" type="password" name="password" class="form-control" id="password" placeholder="password" required>
        </div>
        <div class="form-group">
          <label for="password">Powtórz hasło</label>
          <input formControlName="password2" type="password" name="password2" class="form-control" id="password2" placeholder="password2" required>
        </div>
        <p>{{theSame}}</p>
        <button type="submit" class="btn btn-primary" style="background-color: gold; border-color: white; color: #041836;">Prześlij</button>
      </form>
    </div>
  </div>
</div>
