* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: gold;
}

.scrolled {
  background-color: #041836;
  transition: background-color 0.5s ease;
}

/*NAVBAR*/
.navbar-content {
  /*position: absolute;*/
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  /*padding: 20px 40px;*/
  color: whitesmoke;
}

.list {
  position: absolute;
  transform: translateY(0);
  transition: transform 0.5s;
  padding-top: 5px;
}

.list[hidden] {
  transform: translateY(-100%);
}

ul {
  list-style: none;
}

.ctn {
  padding: 8px 15px;
  background: gold;
  border-radius: 30px;
  color: #041836;
}

.nav-links {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-links li {
  margin: 0 10px;
}

/*BUTTON*/
.my-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.logo {
  /*background-color: gold;*/
  padding: 5px 15px;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .my-btn {
    display: block;
  }

  .navbar-content {
    width: 100%;
    padding: 0;
  }

  .logo {
    margin: 0 10px;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .nav-links {
    margin-top: -900px;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: burlywood;
    /*Problem with transition*/
    /*transition: none;*/
    transition: all 0.5s ease;
  }

  .nav-links li {
    margin: 15px auto;
  }

  .mobile-menu {
    margin-top: 0;
  }
}
h1 {
  font-size: 30px;
  margin-top: 15px;
}

.ctn-log {
  padding: 8px 15px;
  border-radius: 5px;
}

.ctn-log:hover {
  cursor: pointer;
  background-color: rgba(240, 236, 238, 0.8);
  color: #041836;
}

.ctn:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
